body {
  
  
  font-family: 'Itim', sans-serif;
}



header {
  position: relative;
  display: flex;
  padding-bottom: 30px;
}

.navbar {
  background-color: #f69322;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.nav-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-nav {
  flex-direction: column;
  padding-left: 0;
  display: flex; 
  align-items: center;
  font-size: 20px;
  
}


.navbar-nav .nav-link.active {
  color: #f69322;
  background-color: #ffffff;
}
.navbar-nav .nav-link {
  color: #fff;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link.active:hover {
  color: #f69322;
  background-color: #ffffff;
}



.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.name {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #565656;
}

.name2 {
  color: #f69322;
}

.egg {
  position: absolute;
  top: 1rem;
  width: 171px;
  height: 97px;
}

main {
  margin-left: 200px;
  width: calc(100% - 200px);
  
}

.main-content {
  padding: 0 1rem;
  background-color: rgb(255, 252, 236);
}

.container {
  max-width: 800px;
  
  padding: 10px;
  
}


h2 {
  text-align: center;
  font-size: 60px;
  padding-bottom: 15px;
  
}

.underline{
  text-decoration: underline;
  text-decoration-color: #f69322;
}

p {
  font-family: 'Roboto', sans-serif;;
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: transparent;
}

footer p {
  font-size: 14px;
}



.parallax {
  /* The image used */
  background-image: url("images/egg.jpg");

  /* Set a specific height */
  min-height: 450px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio {

  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}


