body {
    background: #FFFCEC;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    position: relative;
  }
  
  .name {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.2;
    color: #565656;
    margin: auto;
    text-align: center;

  }
  
  .name2 {
    color: #f69322;
  }
  
  .egg {
    position: absolute;
    top: 1rem;
    
    width: 171px;
    height: 97px;
  }
  .navbar-nav .nav-link.active {
    color: #f69322;
  }
  main {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10rem;
    background-color: #FFFCEC;
  }

  h2{
    text-align: center;
  }
  
  footer {
    text-align: center;
    font-size: 0.8rem;
    color: #777777;
    background-color: #FFFCEC;
  }